@charset "UTF-8";

@import "../../common.css";

.tableTitle {
	background: #DFDFDFDF;
	font-weight: bold;
}

.row {
	margin: 0px;
}

.table {
	width: 1160px;
	min-width: 1160px;
	max-width: 1160px;
	margin: 0 auto;
}

table th, table td {
	border: 1px solid #333333;
}

.table th, .table td {
	padding: 0.6em;
}

table th:nth-child(n + 2), table td:nth-child(n + 2) {
	border-left: 0px;
}

table .tableBorderTop {
	border-top: 1px solid #333333;
}

.indent {
	text-indent: 5%;
}

span.outdent {
	text-indent: -5%;
	padding-left: 5%;
	display: inline-block;
}

table .title {
	font-weight: bold;
	font-size: 18px;
}

.titlebar td {
	font-size: 28px;
	font-weight: bold;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.contract {
	height: 320px;
}

#contract {
	width: 1200px;
	margin-top: 20px;
}